<title><%= title%></title>
<%- include('layout/header')%>
<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-8 mx-auto animated bounceIn">
            <div class="card p-4 text-center" style="border: 4px solid rgba(0, 0, 0, .4);">
                <div class="jumbotron shadow-lg text-center">
                    <h1 class="display-4">Mi primer app con nodejs y mongo</h1>
                    <hr class="my-4">
                    <h1>Javascript</h1>
                    <a href="/login" class="mt-2 btn btn-dark">Iniciar sesion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-md-6">
                <div class="card p-4">
                    <form action="/sendMail" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="To:" name="para" required>
                        </div>
                        <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                        </div>
                        <button class="btn btn-info">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <i class="fab fa-youtube fa-10x"></i>  
                <h3 style="color: #fff;">Nosotros</h3>
                <span>
                    Nosotros es una película estadounidense de suspenso y terror de 2019 escrita, producida y dirigida por Jordan Peele.                       
                </span>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>